<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adp.chabok">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission
        android:name="com.adp.chabok.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.adp.chabok.permission.C2D_MESSAGE" />

    <application
        android:name=".application.ChabokApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <receiver android:name="PushMessageReceiver">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <category android:name="com.adp.chabok" />
                <action android:name="com.adpdigital.push.client.MSGRECEIVE" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.adp.chabok" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
